body{

	margin:0px;
	padding:0px;
	background: #222;
}

.contenedor{

	background: rgba(0,0,0,.3);
	width: 500px;
	height: 300px;
	margin: 50px auto;
	padding-top: 1px; 
}

.fecha{

	background: rgba(0,0,0,0.3);
	width: 480px;
	text-align: center;
	color: #fff;
	margin: 20px auto 0px auto ;
	font-size: 25px;
	padding: 10px;

}

.contHora{

	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.3);
	width: 100%;
	margin: 10px auto;
	height: 150px;
}

.hora{

	text-align: center;
	color: #fff;
	margin:20px 0px ;
	font-size: 4em;
	padding: 5px;
	
}

.segundos{
	
	
	text-align: center;
	color: #fff;
	
	padding: -5px;
	display: inline-block;

}

.ampm{
	
	display: block;
	position: relative;
	top: 20px;
	font-size: 2rem;

}

.segu{
	display: block;
	position: relative;
	bottom: 20px;
	font-size: 2rem;

}
.btn{
	width: 100%;
	background: rgba(0,0,0,.2);
	color: #aaa;
	border-style: none;
	cursor: pointer;
}

.Formato24{
	position: relative;
	bottom: 0px;
	right: 5px;
	font-size: 4rem;

}


